body {
  font-family:
    Noto Sans TC,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Microsoft JhengHei',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $neutral-900;
}

a {
  text-decoration-line: none;
  color: $neutral-900;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
