.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

// grid

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col {
  width: calc(100% / 12);
  padding-left: 12px;
  padding-right: 12px;
}
.col-8 {
  width: calc(100% / 12 * 8);
  padding-left: 12px;
  padding-right: 12px;
}
.col-10 {
  width: calc(100% / 12 * 10);
  padding-left: 12px;
  padding-right: 12px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

// spacing

.mb-4 {
  margin-bottom: 4px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.me-40 {
  margin-right: 40px;
}
.me-48 {
  margin-right: 48px;
}
.me-auto {
  margin-right: auto;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

// fonts

.text-center {
  text-align: center;
}

.text-neutral-0 {
  color: $neutral-0;
}
.text-primary-400 {
  color: $primary-400;
}

.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 32px;
}
.h3 {
  font-size: 28px;
}
.h4 {
  font-size: 24px;
}
.h5 {
  font-size: 20px;
}

.bg-primary-100 {
  background-color: $primary-100;
}

// border

.radius-4 {
  border-radius: 4px;
}
