<div class="bg-primary-200">
  <div class="d-flex justify-content-center align-items-center py-24 p-md-24">
    <h4 class="h4 h5-md me-24 me-md-16">加入會員取得 9 折優惠</h4>
    <button type="button" class="btn btn-dark h6-md">馬上註冊</button>
  </div>
</div>
<footer class="py-64 py-md-32">
  <nav class="container mb-24 nav">
    <ul class="d-flex d-md-inline-block align-items-center">
      <li class="me-auto">
        <a href="../pages/index.html">
          <img src="../assets/images/logo.svg" alt="URBNSTEP" />
        </a>
      </li>
      <li class="me-40 mx-md-12 py-md-12 pb-md-4"><a href="#">商品列表</a></li>
      <li class="mx-md-12 py-md-12"><a href="../pages/story.html">品牌故事</a></li>
    </ul>
  </nav>
  <div class="container copyright">
    <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
