<div class="bg-primary-200">
  <div class="d-flex justify-content-center align-items-center py-24">
    <h4 class="h4 me-24">加入會員取得 9 折優惠</h4>
    <button type="button" class="btn btn-dark">馬上註冊</button>
  </div>
</div>
<footer class="py-64">
  <nav class="container mb-24 nav">
    <ul class="d-flex align-items-center">
      <li class="me-auto">
        <a href="../pages/index.html">
          <img src="../assets/images/logo.svg" alt="URBNSTEP" />
        </a>
      </li>
      <li class="me-40 nav-item"><a href="#">商品列表</a></li>
      <li class="nav-item"><a href="../pages/story.html">品牌故事</a></li>
    </ul>
  </nav>
  <div class="container copyright">
    <p>Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
