<nav class="container py-16 py-md-12">
  <ul class="d-flex align-items-center justify-content-between">
    <li class="me-48">
      <a href="../pages/index.html">
        <img src="../assets/images/logo.svg" alt="URBNSTEP" />
      </a>
    </li>
    <li class="me-40 py-12 d-md-none"><a href="../pages/products.html">商品列表</a></li>
    <li class="me-auto py-12 d-md-none"><a href="../pages/story.html">品牌故事</a></li>
    <a href="#"><img src="../assets/images/person.svg" alt="login" class="p-16" /></a>
  </ul>
</nav>
