<nav class="container">
  <ul class="d-flex align-items-center">
    <li class="me-48">
      <a href="../pages/index.html" class="logo">
        <img src="../assets/images/logo.svg" alt="URBNSTEP" />
      </a>
    </li>
    <li class="me-40"><a href="#">商品列表</a></li>
    <li class="me-auto"><a href="../pages/story.html">品牌故事</a></li>
    <li>
      <a href="#"><img src="../assets/images/person.svg" alt="login" /></a>
    </li>
  </ul>
</nav>
