<nav class="container py-16 py-md-12">
  <ul class="d-flex align-items-center justify-content-between">
    <li class="me-48">
      <a href="./index.html">
        <img src="/assets/images/logo.svg" alt="URBNSTEP" />
      </a>
    </li>
    <li class="me-40 py-12 d-md-none">
      <a href="./products.html" class="nav-link-neutral">商品列表</a>
    </li>
    <li class="me-auto py-12 d-md-none">
      <a href="./story.html" class="nav-link-neutral">品牌故事</a>
    </li>
    <a href="#" class="p-16 icon-btn">
      <i class="bi bi-person"></i>
    </a>
  </ul>
</nav>
