<nav class="container nav">
  <ul class="d-flex align-items-center">
    <li class="me-48">
      <a href="../pages/index.html">
        <img src="../assets/images/logo.svg" alt="URBNSTEP" />
      </a>
    </li>
    <li class="me-40 nav-item"><a href="#">商品列表</a></li>
    <li class="me-auto nav-item"><a href="../pages/story.html">品牌故事</a></li>
    <li>
      <a href="#"><img src="../assets/images/person.svg" alt="login" class="btn-login" /></a>
    </li>
  </ul>
</nav>
