.breadcrumb {
  display: flex;
}

.breadcrumb-item {
  a {
    display: inline-block;
    color: $neutral-600;

    @include breakpoint-md {
      font-size: 14px;
    }
  }

  &.active {
    a {
      color: $neutral-900;
      cursor: default;
    }
  }

  &:not(.active) {
    a {
      @include hover-color($primary-400);
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  padding-left: 12px;
  padding-right: 12px;
  color: $neutral-300;

  @include hover-color($primary-400);
}
