.breadcrumb {
  display: flex;
}

.breadcrumb-item {
  color: $neutral-600;
}

.breadcrumb-item.active {
  color: $neutral-900;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  padding-left: 12px;
  padding-right: 12px;
  color: $neutral-300;
}
