<nav class="mb-24 mb-md-12">
  <ol class="breadcrumb">
    <% for (item of items) { %>
    <li class="breadcrumb-item <%= item.active ? 'active' : '' %>"><a href="#"><%= item.name %></a></li>
    <% } %>
  </ol>
</nav>
