<nav class="container mb-24">
  <ol class="breadcrumb">
    <% for (item of items) { %>
    <li class="breadcrumb-item <%= item.active ? 'active' : '' %>"><%= item.name %></li>
    <% } %>
  </ol>
</nav>
