<nav>
  <ul class="pagination">
    <li class="page-item me-12 disabled">
      <a href="#" class="page-link"><i class="bi bi-chevron-left"></i></a>
    </li>
    <li class="page-item active"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">...</a></li>
    <li class="page-item"><a href="#" class="page-link">10</a></li>
    <li class="page-item me-12">
      <a href="#" class="page-link"><i class="bi bi-chevron-right"></i></a>
    </li>
  </ul>
</nav>
