<% for (product of products) { %>
  <div class="mb-48">
    <img src="<%= product.imgPath %>" alt="<%= product.name %>" class="mb-12" />
    <h2 class=" mb-4"><%= product.name %></h2>
    <p>NT$<%= product.price %></p>
  </div>
<% } %>
