.banner-hero {
  background-image: url(/assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 289px 0;

  @include breakpoint-md {
    background-image: url(/assets/images/banner-sm.png);
    padding: 155px 0;
  }
}
.section-hero {
  margin-left: 200px;

  @include breakpoint-md {
    margin-left: 24px;
  }
}

.badge-hotsale {
  color: $primary-400;
  background-color: $primary-100;
  padding: 8px 12px;
  font-size: 14px;
}

.banner-collab {
  text-align: center;
  background-image: url(/assets/images/banner-co-branded.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
  overflow: hidden; /* 因為圖片超出容器會出現 x 軸，
  設定用來隱藏超出的部分，避免出現 x 軸
  */
  p {
    font-weight: 400;
  }

  .star {
    position: absolute;
    width: 48px;
    top: 68px; // 從 banner-collab 邊緣開始計算
    left: calc(50% - 397px); // 計算從中心線的偏移

    @include breakpoint-md {
      top: 32px;
      left: -20px;
    }
  }
  .sparkle {
    position: absolute;
    width: 76px;
    bottom: 132px; // 從 banner-collab 邊緣開始計算
    right: calc(50% - 357px); // 計算從中心線的偏移

    @include breakpoint-md {
      bottom: 104px;
      right: -28px;
    }
  }

  @include breakpoint-md {
    background-image: url(/assets/images/banner-co-branded-sm.png);
    padding: 64px 0;
  }
}
.section-collab {
  padding: 100px 0;
  max-width: 100%;
}
.symbol-collab {
  margin: 0 24px;
  vertical-align: top;
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.horizontal-scroll-md-row {
  @include breakpoint-md {
    margin-left: -8px;
    margin-right: -8px;
  }
}
.horizontal-scroll-md-col {
  @include breakpoint-md {
    min-width: 316px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@include breakpoint-md {
  .inspiration-row-md {
    flex-wrap: nowrap;
    margin-left: -8px;
    margin-right: -8px;
  }
  .inspiration-me-md-8 {
    margin-right: 8px;
  }
  .inspiration-col-md {
    padding-left: 8px;
    padding-right: 8px;

    img {
      min-width: 300px;
    }
  }
}
