.hero-banner {
  background-image: url(/assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 289px 0;
}
.hero-section {
  margin-left: 200px;
}

.badge-hotsale {
  color: $primary-400;
  background-color: $primary-100;
  padding: 8px 12px;
  font-size: 14px;
}
