.banner-hero {
  background-image: url(/assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 289px 0;
}
.section-hero {
  margin-left: 200px;
}

.badge-hotsale {
  color: $primary-400;
  background-color: $primary-100;
  padding: 8px 12px;
  font-size: 14px;
}

.banner-collab {
  background-image: url(/assets/images/banner-co-branded.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-collab {
  padding: 100px 0;

  p {
    font-weight: 400;
  }
}
.symbol-collab {
  margin: 0 24px;
  vertical-align: top;
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
