.story-banner {
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 151px;
  padding-bottom: 151px;
}

.blockquote {
  border-radius: 12px;

  p {
    font-weight: 400;
  }
}

.content-block {
  border-bottom: 1px solid $neutral-300;

  li {
    font-weight: 400;
  }
}

.history {
  ol {
    list-style: disc;
    list-style-position: inside;
    font-weight: 400;
  }

  time {
    margin-right: 8px;
  }

  span {
    border-left: 1px solid $neutral-900;
    padding-left: 8px;
  }
}

.concept {
  li {
    padding-left: 12px;
    border-left: 3px solid $neutral-300;
  }
}

.episode {
  li {
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .bi-arrow-up-right {
    margin-right: 8px;
  }

  a {
    text-decoration-line: underline;
    padding-bottom: 4px;
    text-underline-offset: 4px;
  }
}
