.story-banner {
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 151px;
  padding-bottom: 151px;
}

.blockquote {
  border-radius: 12px;

  p {
    font-weight: 400;
  }
}

.intro-banner {
  width: calc(100% + 110px * 2);
  margin-left: -110px;
  margin-right: -110px;
}

.history {
  ol {
    list-style: disc;
    list-style-position: inside;
    font-weight: 400;
  }

  time {
    margin-right: 8px;
  }

  span {
    border-left: 1px solid $neutral-900;
    padding-left: 8px;
  }
}

.intro,
.history {
  border-bottom: 1px solid $neutral-300;

  p {
    font-weight: 400;
  }
}
