.story-banner {
  background-image: url(/assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 151px;
  padding-bottom: 151px;
}
