<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="hero-banner">
      <div class="hero-section">
        <h1 class="display-1 text-neutral-0 mb-16">URBNSTEP</h1>
        <h2 class="h3 text-neutral-0 mb-48">Your Step, Your Statement</h2>
        <button type="button" class="btn btn-primary">立即選購</button>
      </div>
    </div>

    <main class="container py-64">
      <div class="mb-32">
        <h2 class="display-2 text-center mb-12">New Arrival</h3>
        <h3 class="h2 text-center">新品上市</h3>
      </div>
      <div class="row">
        <div class="col-6 mb-40">
          <img src="/assets/images/new-1.png" alt="new-1" class="mb-12">
          <h5 class="h5 mb-4">Monoverse</h5>
          <p>NT$3,600</p>
        </div>
        <div class="col-6 mb-40">
          <img src="/assets/images/new-2.png" alt="new-2" class="mb-12">
          <h5 class="h5 mb-4">PLATFORM 404</h5>
          <p>NT$2,600</p>
        </div>
        <div class="col-6 mb-40">
          <img src="/assets/images/new-3.png" alt="new-3" class="mb-12">
          <h5 class="h5 mb-4">URBN Force</h5>
          <p>NT$3,200</p>
        </div>
        <div class="col-6 mb-40">
          <img src="/assets/images/new-4.png" alt="new-4" class="mb-12">
          <h5 class="h5 mb-4">Mode90</h5>
          <p>NT$4,000</p>
        </div>
      </div>
      <div class="py-64">
        <h2 class="h2 mb-16">熱銷補貨</h2>
        <div class="row">
          <div class="col-3">
            <span class="position-absolute badge-hotsale">人氣 No.1</span>
            <img src="/assets/images/product-3.png" alt="product-3">
          </div>
          <div class="col-3">
            <span class="position-absolute badge-hotsale">人氣 No.1</span>
            <img src="/assets/images/product.png" alt="product">
          </div>
          <div class="col-3">
            <span class="position-absolute badge-hotsale">人氣 No.1</span>
            <img src="/assets/images/product-6.png" alt="product-6">
          </div>
          <div class="col-3">
            <span class="position-absolute badge-hotsale">人氣 No.1</span>
            <img src="/assets/images/product-9.png" alt="product-9">
          </div>
        </div>
      </div>
    </main>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
