<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="hero-banner">
      <div class="hero-section">
        <h1 class="display-1 text-neutral-0 mb-16">URBNSTEP</h1>
        <h2 class="h3 text-neutral-0 mb-48">Your Step, Your Statement</h2>
        <button type="button" class="btn btn-primary">立即選購</button>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
