<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>所有商品 | URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py-32">
      <%- include('./components/breadcrumb', { items: [ {name: '首頁', active: false}, {name: '女鞋', active: false},
      {name: '所有商品', active: true} ] }); -%>

      <h1 class="h3 mb-24">女鞋</h1>

      <div class="row">
        <div class="col-2">
          <ul class="list-group">
            <li class="list-group-item active">所有商品</li>
            <li class="list-group-item">慢跑鞋</li>
            <li class="list-group-item">滑板鞋</li>
            <li class="list-group-item">厚底鞋</li>
            <li class="list-group-item">限定 / 聯名企劃</li>
          </ul>
        </div>
        <div class="col-10">
          <div class="product-row">
            <div class="product-col-3">
              <%- include('./components/productCard', {products: [ { name: 'PLATFORM 404', price: '2,600', imgPath:
              '/assets//images/product.png', } ]}) -%>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
